<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<h1>{{titulo}}</h1>

	<div *ngIf="alertMessage">
		<div class="alert alert-info">{{alertMessage}}</div>
	</div>

	<form #formAlbum="ngForm" (ngSubmit)="onSubmit()">

		<div class="form-group">
		  <label>Título</label>
		  <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" class="form-control" placeholder="Introduzca un título" required>
		  <span *ngIf="!title.valid && title.touched">
		  	El titulo es obligatorio
		  </span>
		</div>

		<div class="form-group">
		  <label>Descripción</label>
		  <textarea #description="ngModel" name="description" [(ngModel)]="album.description" class="form-control" placeholder="Introduzca una breve descripción" required>
		  </textarea>
		  <span *ngIf="!description.valid && description.touched">
		  	La descripción es obligatoria
		  </span>
		</div>

		<div class="form-group">
		  <label>Año</label>
		  <input type="text" #year="ngModel" name="year" [(ngModel)]="album.year" class="form-control" placeholder="Introduzca nombre" required>
		  <span *ngIf="!year.valid && year.touched">
		  	El año es obligatorio
		  </span>
		</div>
		
		<div *ngIf="is_edit">
		  <div class="album_image_for_edit form-group" *ngIf="album.image && album.image != 'null'">
		  	<img src="{{url + 'get-image-album/' + album.image }}" alt="">
		  </div>
		  <div class="form-group">
			  <label>Sube la imagen del album</label>
			  <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
		  </div>
		</div>

		<div class="form-group">
			<input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid" class="btn btn-success">
		</div>

	</form>
</div>