<h1>Últimos elementos añadidos</h1>	

<div id="gallery-albums" *ngIf="albums">
		<!-- LISTAR LOS ÁLBUMS -->
		<ul class="album-list">
			<li *ngFor="let album of albums" class="col-lg-4 album-item">
				<div class="album-image">
					<a [routerLink]="['/album', album._id]"><img src="{{url + 'get-image-album/'+ album.image}}" alt=""></a>
				</div>
				<div class="album-name">
					<p>
						<a [routerLink]="['/album', album._id]">{{album.title}}</a>
					</p>
					<p>
						<a [routerLink]="['/artista', album.artist._id]">
							{{album.artist.name}}
						</a>
					</p>

				</div>			
				
			</li>
		</ul>
</div>