<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<h1>{{titulo}}</h1>

	<div *ngIf="alertMessage">
		<div class="alert alert-info">{{alertMessage}}</div>
	</div>

	<form #formArtist="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
		  <label>Nombre</label>
		  <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" class="form-control" placeholder="Introduzca nombre" required>
		  <span *ngIf="!name.valid && name.touched">
		  	El nombre es obligatorio
		  </span>
		</div>
		<div class="form-group">
		  <label>Descripción</label>
		  <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" class="form-control" placeholder="Introduzca una breve descripción" required>
		  </textarea>
		  <span *ngIf="!description.valid && description.touched">
		  	La descripción es obligatoria
		  </span>
		</div>
		<div *ngIf="is_edit">
		  <div class="artist_image_for_edit form-group" *ngIf="artist.image && artist.image != 'null'">
		  	<img src="{{url + 'get-image-artist/' + artist.image }}" alt="">
		  </div>
		  <div class="form-group">
			  <label>Sube la imagen del artista</label>
			  <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
		  </div>
		</div>
		
		<input class="btn btn-success" type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid" />
	</form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>No tienes acceso a esta sección de la aplicación</p>
</div>