<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron" id="bienvenida">
	  <h1 class="display-3">Wellcome to FREEFLY</h1>
	  <p class="lead">Descubre nueva música y nuevos artistas en nuesta web</p>
	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver Artistas</a>
	  </p>
	</div>
</div>