<h1>{{titulo}}</h1>

<div class="clearfix"></div>

<input id="search-song" type="text" class="form-control"  name="search" placeholder="Buscar..." [(ngModel)]="search">

<div id="gallery-songs" *ngIf="songs">

		<ul id="songs-list">
			<li *ngFor="let song of songs | filter:search" class="song-item">
				<div class="title">
					<a class="btn btn-success" (click)="startPlayer(song)">
						<span class="glyphicon glyphicon-play" aria-hiden="true"></span>
					</a>

					{{song.name + ' - '+ song.album.artist.name + ' - (' + song.duration+')'}}<!--{{song.name + ' - ' + song.duration + ' | ' + song.album.title}}-->
										
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>

</div>