<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

	<h1>{{titulo}}</h1>

	<div *ngIf="alertMessage">
		<div class="alert alert-info">{{alertMessage}}</div>
	</div>

	<form #formSong="ngForm" (ngSubmit)="onSubmit()">

		<div class="form-group">
		  <label>Número</label>
		  <input type="text" #number="ngModel" name="number" [(ngModel)]="song.number" class="form-control" placeholder="Introduzca nombre" required>
		  <span *ngIf="!number.valid && number.touched">
		  	El número de la canción es obligatorio
		  </span>
		</div>
		<div class="form-group">
		  <label>Título</label>
		  <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" class="form-control" placeholder="Introduzca nombre" required>
		  <span *ngIf="!name.valid && name.touched">
		  	El título es obligatorio
		  </span>
		</div>
		<div class="form-group">
		  <label>Duración</label>
		  <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" class="form-control" placeholder="Introduzca una breve descripción" required>
		  <span *ngIf="!duration.valid && duration.touched">
		  	La duración es obligatoria
		  </span>
		</div>
		<div *ngIf="is_edit">
		  <div class="song_file_for_edit form-group" *ngIf="song.file && song.file != 'null'">
		  	<audio controls>
		  		<source src="{{ url + 'get-song-file/' + song.file }}" type="audio/mpeg">
						El navegador web no soporta la reproducción de audio
		  	</audio>
		  </div>
		  <div class="form-group">
			  <label>Subir fichero de audio</label>
			  <input type="file" placeholder="Subir fichero..." (change)="fileChangeEvent($event)">
		  </div>
		</div>
		
		<input class="btn btn-success" type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" />

	</form>

</div>
