<div class="col-lg-6" *ngIf="identity">

		<!-- FORMULARIO -->
		<div class="col">
			<h1>{{titulo}}</h1>

			<div *ngIf="alertMessage">
				<div class="alert alert-info">{{alertMessage}}</div>
			</div>
			
			<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
			    <label>Nombre</label>
			    <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" placeholder="Introduzca su nombre" required>
			    <span *ngIf="!name.valid && name.touched" class="text-danger">
			    	El nombre es obligatorio
			    </span>
			  </div>
			  <div class="form-group">
			    <label>Apellidos</label>
			    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" placeholder="Introduzca sus apellidos">
			    <span *ngIf="!surname.valid && surname.touched" class="text-danger">
			    	Los apellidos son obligatorios
			    </span>
			  </div>
			  
				<div class="form-group">
			    <label>Dirección de Email</label>
			    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Introduzca su email" required>
			    <span *ngIf="!email.valid && email.touched" class="text-danger">
			    	El email es obligatorio
			    </span>
			  </div>
				
				<div class="form-group">
					<div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
						<img src="{{url + 'get-image-user/' + user.image}}" alt="" style="width: 50px;">
					</div>
				</div>
			  
			  <div class="form-group">
			    <label>Sube tu foto:</label>
			    <input type="file" placeholder="Subir imagen... " (change)="fileChangeEvent($event)">
			  </div>

		  	<button type="submit" class="btn btn-primary">Actualizar mis datos</button>
			</form>
		</div>


</div>