
<!-- Si identity existe y tiene contenido lo mostrará si no, no lo hará -->

<div *ngIf="identity" class="navigation col-lg-1 col-xs-2 hidden-xs-down">
	<h1 class="head-title">
		<a [routerLink]="['/']">
			<img id="menu-logo" src="../assets/images/logo1.png" alt="">
	  	<div class="hiddeText">{{title}}</div>
		</a>
	</h1>
	<nav id="navigation">
		<a [routerLink]="['/canciones']" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-search" aria-hidden=true></span>
			<div class="hiddeText">Buscar</div>
		</a>
		<a [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-star" aria-hidden=true></span>
			<div class="hiddeText">Artistas</div>
		</a>
		<a [routerLink]="['/albums']" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-book" aria-hidden=true></span>
			<div class="hiddeText">Albums</div>
		</a>
	</nav>

	<nav id="user_logged">
		<div class="user-image hiddeText">
			<img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" alt="">
		</div>
		<span id="identity_name" class="hiddeText">{{identity.name}}</span>
		
		<a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-cog" aria-hidden=true></span>
			<div class="hiddeText">Mis datos</div>
		</a>

		<a (click)="logout()" class="btn-logout">
			<span class="glyphicon glyphicon-log-out" aria-hidden=true></span>
			<div class="hiddeText">Salir</div>
		</a>
	</nav>
</div>

<div [class.hidden]="!identity" class="central col-lg-11">
	<router-outlet></router-outlet>

	<div class="clearfix"></div>
	<player class="player" *ngIf="identity"></player>
</div>

<div class="container-fluid bg" *ngIf="!identity">
		<div class="row" *ngIf="!showSelected">
				<div class="col-md-4 col-sm-4 col-xs-12"></div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<!-- FORMULARIO DE LOGIN Inicio -->
					<!-- Alerta de eroor -->
					<div *ngIf="errorMessage">
						<div class="alert alert-warning">
							<strong>Error</strong> {{errorMessage}}
						</div>
					</div>
				<!-- Alerta de éxito -->
				<div *ngIf="alertRegister">
					<div class="alert alert-success"><strong>Enhorabuena!</strong> {{alertRegister}}</div>
				</div>
			
				<form class="form-container" #loginForm="ngForm" (ngSubmit)="onSubmit()"> <!-- Indicamos que es un formulario de angular -->
					<div class="form-header">
						<h1>Freefly</h1>
						<img src="../assets/images/logo1.png" alt="">
					</div>
					<div class="clearfix"></div>
					<h2>Iniciar sesión</h2>
					<div class="form-group">
				    <label>Dirección de Email</label>
				    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Introduzca su email" required maxlength="30">
				    <span *ngIf="!email.valid && email.touched" class="text-danger">
				    	El email es obligatorio
				    </span>
				  </div>
				  <div class="form-group">
				    <label>Contraseña</label>
				    <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Introduzca su contraseña" maxlength="8">
				  </div>
				  <div id="enter">
			  		<button type="submit" class="btn btn-success btn-block">Entrar</button>
			  	</div>
			  	<div id="new" class="text-center">
						<a (click)="showSignForm()">Crear una cuenta</a>
					</div>	
				</form>
				
			<!-- FORMULARIO DE LOGIN final-->
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12"></div>
	</div>

		
	<div class="row" *ngIf="showSelected">
		<div class="col-md-4 col-sm-4 col-xs-12"></div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		<!-- FORMULARIO DE REGISTRO -->
			<div *ngIf="alertRegister">
				<div class="alert alert-success">{{alertRegister}}</div>
			</div>
			<form class="form-container" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
				<h1>Crea una cuenta</h1>
				<div class="form-group">
			    <label>Nombre</label>
			    <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" placeholder="Introduzca su nombre" required maxlength="20">
			    <span *ngIf="!name.valid && name.touched" class="text-danger">
			    	El nombre es obligatorio
			    </span>
			  </div>
			  <div class="form-group">
			    <label>Apellidos</label>
			    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" placeholder="Introduzca sus apellidos" maxlength="20">
			    <span *ngIf="!surname.valid && surname.touched" class="text-danger">
			    	Los apellidos son obligatorios
			    </span>
			  </div>
			  
				<div class="form-group">
			    <label>Dirección de Email</label>
			    <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" placeholder="Introduzca su email" required maxlength="30">
			    <span *ngIf="!email.valid && email.touched" class="text-danger">
			    	El email es obligatorio
			    </span>
			  </div>
			  <div class="form-group">
			    <label>Contraseña</label>
			    <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" placeholder="Introduzca su contraseña" required maxlength="8">
			    <span *ngIf="!password.valid && password.touched" class="text-danger">
			    	La contraseña es obligatoria
			    </span>
			  </div>
			  <div id="enterSign">
		  		<button type="submit" class="btn btn-success btn-block">Registrarse</button>
		  	</div>
		  	<div id="already-account" class="text-center">
						<a (click)="showLoginForm()">Ya dispongo de una cuenta</a>
					</div>
			</form>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12"></div>

	</div>

</div>