@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.bg{
	background: url('../../assets/images/earphones-earpods-justifyyourlove-802958.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.form-container{
	border: 0px solid #EBEBEB;
	padding: 20px 50px 30px 60px;
	margin-top: 20vh;
	-webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.form-header{
	width: 300px;
	margin-left: 24%;
}

.form-header h1{
	font-family: 'Shrikhand', cursive;
	text-align: center;
	float: left;
}

.form-header img{
	width: 80px;
	float: left;

}

#enter, #enterSign{
	margin-top: 30px;
}

#enter button, #enterSign button{
	font-size: 1.2em;
}

#new, #already-account{
	margin-top: 30px;
}

#new a, #already-account a{
	color: #EBEBEB;
}

@media (max-width: 600px) {
	.form-container{
		margin-top: 5vh;
	}
}