
/*GLOBAL*/

html, body{
	margin: 0px;
	height: 100%;
	background: rgba(138,138,138,1);
	background: linear-gradient(to bottom, rgba(138,138,138,1) 0%, rgba(99,99,99,1) 0%, rgba(138,138,138,1) 0%, rgba(76,76,76,1) 43%, rgba(46,46,46,1) 69%, rgba(46,46,46,1) 81%, rgba(31,31,31,1) 100%);
	color: #fff;
}

h1{
	color: #fff;
}

#bienvenida{
	background: transparent;
	color: #fff;
}

.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.central{
	height: 100%;
	overflow-y: scroll;
}

.seguro{
	margin-top: -30px;
	background: #222326;
	position: absolute;
	height: 40px;
}

.seguro-album{
	margin-top: -41px;
	margin-left: 10px;
}

.seguro-song{
	right: 10px;
	margin-top: -35px;
	background: #D2D2D2;
}

/*SPIN*/

.glyphicon-refresh-animate { 
	-animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/*BARRA LATERAL*/
#menu-logo{
	width: 50px;
}

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: rgba(76,76,76,1);
	height: 100%;
	background: -webkit-linear-gradient(rgba(76,76,76,1) 0%, rgba(71,71,71,1) 17%, rgba(23,23,23,1) 70%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(rgba(76,76,76,1) 0%, rgba(71,71,71,1) 17%, rgba(23,23,23,1) 70%, rgba(19,19,19,1) 100%);
	background: linear-gradient(rgba(76,76,76,1) 0%, rgba(71,71,71,1) 17%, rgba(23,23,23,1) 70%, rgba(19,19,19,1) 100%);
}

.navigation a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color: #fff;
}

.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged{
	text-align: center; 
	background: transparent;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image{
	width: 57px;
}

#image-logged{
	width: 100%;
}

.btn-logout{
	cursor: pointer;
}

@media (max-width: 360px) {
	.navigation{
		width: 70px;
	}
}



/*DETALLE DE ARTISTA Y ALBUM*/

#artist-head-card .image,
#album-head-card .image{
	width: 170px;
	height: 170px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
}

#artist-head-card .image img,
#album-head-card .image img{
	height: 170px;

}

/*ARTISTAS Y ÁLBUMS*/

.artist_image_for_edit img,
.album_image_for_edit img{
	width: 200px;
}

.artist-list,
.album-list{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
	min-height: 400px;
}

.artist-item,
.album-item{
	width: 300px;
	margin-bottom: 20px;
	padding: 0px;
	height: 350px;
	margin-left: 20px;
	background: transparent;
}

.artist-item .artist-image,
.album-item .album-image{
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: transparent;
}

.artist-item .artist-image img{
	height: 120%;
}

.artist-item .artist-name,
.album-item .album-name{
	color: white;
	padding: 10px;
	background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
	color: white;
}

.artist-item:last-child{
	padding-bottom: 100px;
}

.artist-name .buttons{
	margin-left: 165px;
}

.artist-name .seguro{
	margin-left: 145px;
}

.artist-list{
	min-height: 800px;
	margin-bottom: 715px;
}

/*ALBUMS*/

.album-list{
	min-height: 800px;
	margin-bottom: 715px;
}

.album-item .album-image{
	height: 188px;
}

.album-item{
	height: 300px;
	margin-bottom: 20px;
}

.album-item .album-image img{
	width: 100%;
}

.album-name .buttons{
	margin-left: 165px;
}

.album-item .seguro-album{
	margin-left: 150px;
}

/*CANCIONES*/

#artist-link{
	font-size: 1.4em;
	color: #fff;
}

#songs-list{
	margin: 0px;
	padding: 0px;
	min-height: 800px;
	padding-bottom: 200px;
	color: #fff;
}

.song-item{
	list-style: none;
	border-bottom: 1px solid #ACACAC;
	padding-top: 3px;
}

.song-item .title{
	padding: 12px;
}

.song-item .buttons{
	float: right;
}

.song-item .btn-success{
	margin-right: 10px;
}

.data .description{
	color: white;
}

#search-song{
	height: 56px;
	font-size: 1.3em;
}

/*PLAYER*/

.player{
	background: #131313;
	position: fixed;
	width: 95%;
	bottom: 0;
	z-index: 100;
	padding: 20px;
	margin-left: -15px;
	border-left: 1px solid #444;
	color: gray;
	overflow: hidden;
}

.player .album-image{
	float: left;
	width: 138px;
	height: 105px;
	overflow: hidden;
}

.player .album-image img{
	height: 100%;
}

.player .audio-file{
	width: 70%;
	position: fixed;
	height: 40px;
	margin-top: 7px;
	margin-left: 131px;
	float: left;
}

.player audio{
	width: 100%;
	margin-left: 0px;
	height: 40px;
}

#play-image-album{
	width: 105px;
}

@media (max-width: 973px) {
	.form-container{
		margin-top: 5vh;
	}
}

@media (max-width: 418px) {
	#menu-logo{
		width: 40px;
	}
}

@media (max-width: 391px) {
	#artist-head-card .image,
	#album-head-card .image{
		width: 100px;
		height: 100px;
		overflow: hidden;
		float: left;
		margin-right: 30px;
	}

	#artist-head-card .image img,
	#album-head-card .image img{
		height: 100px;

	}
}
